<?xml version="1.0" encoding="UTF-8"?>
<svg width="111px" height="97px" viewBox="0 0 111 97" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="background: #FFFFFF;">
    <!-- Generator: Sketch 54 (76480) - https://sketchapp.com -->
    <title>verified_carbon 2</title>
    <desc>Created with Sketch.</desc>
    <defs>
        <linearGradient x1="50%" y1="0%" x2="50%" y2="100%" id="linearGradient-1">
            <stop stop-color="#0044FF" offset="0%"></stop>
            <stop stop-color="#000000" stop-opacity="0.5" offset="100%"></stop>
        </linearGradient>
        <path d="M55.4698724,0.00060710125 L47.7285019,0.0256605352 L28.4104476,33.2064285 L24.6307185,27.0583158 L16,27.2286792 L27.9657736,47.7273989 C28.0522304,47.8947389 28.2258862,48 28.4155008,48 C28.6051153,48 28.7787712,47.8947389 28.8652279,47.7273989 L55.9195995,0.772252868 C56.0220779,0.614365897 56.0269387,0.412917046 55.9321925,0.250350802 C55.8374464,0.0877845588 55.6589956,-0.00861395137 55.4698724,0.00060710125 Z" id="path-2"></path>
    </defs>
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <text id="{{quantity}}/{{vintageTotal}}" font-family="Helvetica" font-size="10" font-weight="normal" fill="#000000">
            <tspan x="5" y="80">{{quantity}}/{{vintageTotal}}</tspan>
        </text>
        <text id="#{{id}}" font-family="Helvetica" font-size="8" font-weight="normal" fill="#000000">
            <tspan x="87.6367188" y="90">#{{id}}</tspan>
        </text>
        <g id="verified_carbon" transform="translate(50.000000, 28.000000)" fill-rule="nonzero">
            <path d="M0.515440212,8.84667604e-05 C0.328724496,-0.00343470586 0.155284381,0.0985011812 0.0642324321,0.265276629 C-0.0268195167,0.432052078 -0.0206856783,0.636563 0.0801897303,0.797315711 L3.04596627,6 L40.6850109,6 L44,8.84667604e-05 L0.515440212,8.84667604e-05 Z" id="Path" fill="#E70000"></path>
            <polygon id="Path" fill="#FF8C00" points="5 9 8.47767657 15 35.6238614 15 39 9"></polygon>
            <polygon id="Path" fill="#00811F" points="30.6728931 24 34 18 11 18 14.4220243 24"></polygon>
            <g id="Path">
                <use fill="#760089" style="mix-blend-mode: color-burn;" xlink:href="#path-2"></use>
                <use fill="url(#linearGradient-1)" xlink:href="#path-2"></use>
            </g>
        </g>
        <text id="{{name}}" font-family="Helvetica" font-size="12" font-weight="normal" fill="#000000">
            <tspan x="5" y="17">{{name}}</tspan>
        </text>
    </g>
    {{#if isRetired}}<image y="40%" x="40%" width="50%" height="50%" xlink:href="https://dsccm-236701.appspot.com/static/retired.png" />{{/if}}
</svg>